import { Badge } from '@astrojs/starlight/components'

interface Props {
  author?: string
  pubDate?: Date
  updatedDate?: Date
}

const { author, pubDate, updatedDate } = Astro.props

<div class="metadata not-content">
  <div class="dates">
    {pubDate && (
      <time datetime={pubDate.toISOString()}>
        {pubDate.toLocaleDateString('zh-CN', { year: 'numeric', month: 'long', day: 'numeric' })}
      </time>
    )}
    {updatedDate && updatedDate.toISOString() !== pubDate?.toISOString() && (
      <span class="update-date">
        更新于 <time datetime={updatedDate.toISOString()}>
          {updatedDate.toLocaleDateString('zh-CN', { year: 'numeric', month: 'long', day: 'numeric' })}
        </time>
      </span>
    )}
  </div>
  {author && (
    <div class="author">
      <div class="name">{author}</div>
    </div>
  )}
</div>

<style>
  .metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .dates {
    font-size: var(--sl-text-sm);
  }

  .update-date {
    color: var(--sl-color-gray-3);
  }

  .author {
    display: flex;
    gap: 0.5rem;
    line-height: var(--sl-line-height-headings);
  }

  .name {
    font-size: var(--sl-text-base);
    font-weight: 600;
  }
</style> 
